/*Standard settings*/
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(23, 23, 23);
    overflow-y: overlay;
}

/*fjerner scrollbar men beholder scrollefunksjon*/
body::-webkit-scrollbar{
    display: none;
}

/*gir generell text hvit farge*/
.mainbar{
    color: white;
}

/*class for sorte topbar*/
.topbar{
    display: grid;
    background-color: black;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
    align-content: center;
    height: 10%;

}
#restaurantBilde{
    width: 100%
}
/*her kommer css for id av knappene + bilde under parent topbar*/
.topbar > *{
    color: white;
    font-size: 1vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    background-color: black;
    font-weight: 600;
}

/*hoverfunksjon for de forskjellige knappene + bilde*/
.topbar > button:hover{
    color: rgb(166, 41, 41);
    cursor: pointer;
}

#matbilde{
    width: 100vw;
    height: 28vw;
}

/*class klikkOgHentBox for klikk og hent boksen over bildet*/
.klikkOgHentBox{
    position: absolute;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:17vw;
    height: 9vw;
    background-color: rgba(23, 23, 23, 0.777);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-top: 8vw;
    margin-left: 12vw;
}

.klikkOgHentBox:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.819);
}

/*for children av klikkOgHentBox*/
#klokkeslett{
    font-size: 0.9vw;
    color: rgb(0, 161, 0);
    margin-top: -0.6vw;
}

#dagenåpent{
    font-size: 1vw;
    margin-top: -0.4vw;
}

#dagenidag{
    font-size: 1.3vw;
    margin-top: 0.9vw;
}

/*---------------------------------------------------------------------------------*/
/*CSS spesifikt for meny.html*/
/*---------------------------------------------------------------------------------*/

/*Aligner flexbox containeren til midten*/
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-child, .flexed{
    text-align: center;
    width:17vw;
    margin: 2vw;
}

/*Definerer class for flexboksene, child of flexcontainer*/
.flex-child {
    margin-top: 4vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 9vw;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: brown;
}

.flex-child:hover{
    cursor: pointer;
}

/*class for overskriftene SNACKS, LUNSJ, MIDDAG*/
.flexed {
    margin-top: 2vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 0vw;
    color: rgb(166, 41, 41);
}

/*class for de sorte boksene over flex-child class, adapted for flere browsers*/
.hoverbox {
    position: absolute;
    margin: 2vw;
    margin-top: 4.5vw;
    left: -2vw;
    bottom: -2vw;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9vw;
    width:17vw;
    height: 4vw;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.789);
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}

/*transition for høyde av sorte boksene når man hovrer på enten flex-child eller hoverbox, adapted for flere browsers*/
.flex-child:hover .hoverbox{
    background-color: rgba(0, 0, 0, 0.95);
    transition: .1s ls ease-in-out;
    -o-transition: height .5;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    transition: height .5s;
    height: 9vw;
}

/*class for allergene/vegan/vegetarianer*/
.hiddenflex{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    opacity: 0;
    visibility: hidden;
}

/*transition for å vise hiddenflex når man hovrer first-child, adapted for flere browsers*/
.flex-child:hover .hiddenflex{
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
}
